<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-b1CxOuYXHYGxVUVGxfkXfxH6VAhDuOs"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDzY9DYJt_Zpgrz4XbXqSMEAAD0rQT-_k&libraries=places&region=us"></script>
   
</head>
<body ng-controller="AppCtrl as app">
    
    
    <script>
	
        (function() {
            var name = "myApp",
                requires = [],
                myApp = null;
            
            myApp = angular.module(name, requires);
            
            myApp.controller("AppCtrl", function() {
			this.calculate = function(firstNum, secondNum) {
				this.result = parseInt(firstNum) + parseInt(secondNum);
			}
		});
           
        }());
        
      </script>

<h1>Addition of two numbers</h1>
	
First Number: <input type="text" id="firstNumInput" 
    ng-model="app.firstNum"/> </br>
Second Number: <input type="text" id="secondNumInput" 
    ng-model="app.secondNum" /> </br>

<button id="calculateBtn" 
    ng-click="app.calculate(app.firstNum, app.secondNum)">
    Calculate!
</button> </br>

Result: <p id="result" ng-bind="app.result"></p>
</body>
</html>